@font-face {
    font-family: 'LeoHand';
    src: url(font/LeoHand.ttf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #b16bcf;
}
.sentense__block .my__image {
    width: 20%;
    height: 30%;
}
.sentense__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sentense {
    font-size: 800;
}